body{
    color:white;
    background-color:black;
    text-align:center;
}
h1{
    color:indianred;
}
p{
    font-weight:1000;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
img{
    width:500px;
    height:auto;
}